name: ADO Gradle Dry-Run

on: workflow_dispatch
 
jobs:
  Job:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        architecture: x86
        java-version: '1.8'
    - run: "./gradlew build"
    - name: Publish JUnit test results
      uses: EnricoMi/publish-unit-test-result-action@v1.7
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        files: "**/TEST-*.xml"
