

name: MS Test Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.2
      with: 
        vswhere-path: 'C:\Program Files (x86)\Microsoft Visual Studio\Installer'
      
    - name: MSTest Help
      run: echo '& "$(vswhere -property installationPath)\Common7\IDE\MSTest.exe" /help' 

    - name: MSTest
      shell: powershell
      run: '"$(vswhere -property installationPath)\Common7\IDE\MSTest.exe"'
